@model CarRental1.ViewModels.RentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Car.PlatesNumber</h2>

<ul>
    @foreach (var customer  in Model.Customers)
    {
        <li>@customer.IdNumber</li>
    }

</ul>